.card-wizard {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.alert.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
}

.alert.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
}

.dropdown-menu .disabled {
  display: block;
}
