input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #d2d2d2;
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*==== MATERIAL DESIGN ====*/
.table-sm td,
.table-sm th,
.table.table-sm>tbody>tr>td,
.table.table-sm>thead>tr>th {
  padding: .3rem;
}
