.app {
  height: 100%;

  .layout-loading {
    height: 100%;
  }
}

html {
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #d2d2d2;
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*==== MATERIAL DESIGN ====*/
.table-sm td,
.table-sm th,
.table.table-sm>tbody>tr>td,
.table.table-sm>thead>tr>th {
  padding: .3rem;
}

@media (max-width: 991px) {
  .off-canvas-sidebar nav .navbar-collapse:before, .sidebar:before {
    background-color: inherit;
  }
}

.sidebar .sidebar-wrapper {
  height: calc(100vh - 15%);
  overflow-x: hidden;
}

.sidebar-mini .sidebar .sidebar-footer {
  overflow: hidden;
}

.sidebar-mini .sidebar .sidebar-footer img {
  width: 236px;
  margin-left: 7px;
}

.card-wizard {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card-wizard .nav-pills > li {
  padding: 0;
}

.card.card-wizard .nav-item .nav-tab-active {
  position: absolute;
  width: 100%;
  background-color: #c8271d !important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4) !important;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  top: -6px;
  left: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.card-wizard .disabled {
  display: inline-block;
}

.alert.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
}

.alert.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
}

.dropdown-menu .disabled {
  display: block;
}

.bordered-text {
  background-color: white;
  padding: 0 3px;
  border: 1px solid #cccccc;
}

th .material-icons {
  position: relative;
  top: -2px;
}

.bg-warning {
  background-color: #ff9800!important;
}

.table>tbody>tr>td .material-icons,
.table>tbody>tr>th .material-icons,
.table>tfoot>tr>td .material-icons,
.table>tfoot>tr>th .material-icons,
.table>thead>tr>td .material-icons,
.table>thead>tr>th .material-icons {
  vertical-align: middle;
}

.overflow-visible {
  overflow: visible;
}

.filter-option {
  text-transform: capitalize;
}

/*==== SEMANTIC UI =====*/
.ui {
  &.selection {
    &.dropdown {
      .menu {
        >.item {
          font-size: .8125rem;
        }
      }

      &.btn {
        padding: 12px 30px;
        line-height: 1.428571;
        &.btn-danger {
          color: #fff;
          background-color: #c8271d;
          border-color: #c8271d;
          box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);

          >input.search {
            color: #fff;
            height: 100%;
          }
          &.active {
            &.search {
              &.dropdown {
                input {
                  &.search:focus+.text {
                    color: #fff !important;
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }

        &.dropdown {
          >.dropdown {
            &.icon {
              top: 1em;
              margin-right: 2px;
            }
          }
        }

        &:not(.button) {
          >.default.text {
            color: #fff;
          }
        }

        &.visible {
          &.dropdown {
            >.text:not(.default) {
              color: #fff;
            }
          }
        }

        &.active {
          &.dropdown {
            .menu {
              box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
              border: 0;
              min-width: 100%;
              width: 100%;
              margin: auto;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
  &.dropdown {
    .menu {
      >.item {
        font-size: .8125rem;
      }
    }
  }
  &.search {
    &.dropdown{
      >.text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.1em;
      }
    }
  }
}

.transition-none {
  transition: none !important;
}

/* === BUTTONS === */
.btn {
  &.btn-dark {
    background-color: #737373;

    &:hover {
      background-color: #999;
    }
  }
}

/** === CARDS === **/

.card.bg-danger,
.card .card-header-danger .card-icon, .card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
  background: linear-gradient(60deg,#c8271d,#8F1B15);
}

.card-wizard .moving-tab {
  font-weight: 300;
}

/** === DROPDOWN MENU === **/

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
  background-color: #c8271d;
}

/** ==== MODAL ==== */
.modal-dialog {
  .modal-header {
    .modal-title {
      min-height: 25px;
    }
  }
}

/** === POPOVERS === **/
.popover {
  padding: 8px 12px;
}

/** ==== OTHERS ==== **/

.list-group-item-danger {
  color: #8f1b13;
  background-color: #fbbbb6;
}

.badge,
.nav-pills .nav-item .nav-link {
  font-weight: 400;
}

.navbar-dark {
  .navbar-brand:hover {
    color: #C8271E;
  }
}


/** === DATASET LIST VIEW === */
.dataset-list {
  .dataset-row {
    .dataset-row-title {
      font-weight: 400;
    }

    .dataset-row-footer {
      font-weight: normal;
      text-transform: none;

      span {
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    .dataset-row-actions {
      display: none;

      .btn {
        padding-left: 10px;
        padding-right: 10px;
      }

      &.float {
        position: absolute;
        right: 0;
        top: 25%;
      }
    }

    &:hover {
      background-color: #F5F8FA;
    }

    &:hover .dataset-row-actions {
      display: block;

      form {
        display: inline-block;
      }
    }
  }
}

.query-modal {
  code {
    color: inherit;
  }
}

#step-duplicate {
  display: none !important;
}

.step-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &:hover #step-duplicate {
    display: inline-block !important;
  }
}
