.app {
  height: 100%;

  .layout-loading {
    height: 100%;
  }
}

html {
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #d2d2d2;
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*==== MATERIAL DESIGN ====*/
.table-sm td,
.table-sm th,
.table.table-sm>tbody>tr>td,
.table.table-sm>thead>tr>th {
  padding: .3rem;
}

@media (max-width: 991px) {
  .off-canvas-sidebar nav .navbar-collapse:before, .sidebar:before {
    background-color: inherit;
  }
}

.sidebar .sidebar-wrapper {
  height: calc(100vh - 15%);
}

.sidebar-mini .sidebar .sidebar-footer {
  overflow: hidden;
}

.sidebar-mini .sidebar .sidebar-footer img {
  width: 236px;
  margin-left: 7px;
}

.card-wizard {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card-wizard .nav-pills > li {
  padding: 0;
}

.card.card-wizard .nav-item .nav-tab-active {
  position: absolute;
  width: 100%;
  background-color: #f44336 !important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4) !important;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  top: -6px;
  left: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.alert.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
}

.alert.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
}

.dropdown-menu .disabled {
  display: block;
}

.bordered-text {
  background-color: white;
  padding: 0 3px;
  border: 1px solid #cccccc;
}

th .material-icons {
  position: relative;
  top: -2px;
}

.bg-warning {
  background-color: #ff9800!important;
}

.table>tbody>tr>td .material-icons,
.table>tbody>tr>th .material-icons,
.table>tfoot>tr>td .material-icons,
.table>tfoot>tr>th .material-icons,
.table>thead>tr>td .material-icons,
.table>thead>tr>th .material-icons {
  vertical-align: middle;
}

.overflow-visible {
  overflow: visible;
}

.filter-option {
  text-transform: capitalize;
}
