<!DOCTYPE html>
    <html>
        <head>
            <title>
                {% block title %}{% endblock %}
            </title>
            {% block head %}
            {% endblock %}
            {% load staticfiles %}
            <link rel=stylesheet href="{% static "core/css/base.css" %}" type="text/css">
            <script type="text/javascript" src='{% static 'core/js/jquery.js' %}'></script>
            </head>
        <body class="dashboard">
        <div id="container" data-admin-utc-offset="0">
            <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name">
                    <a href="{% url 'core.views.index' %}">Home</a>
                </h1>
            </div>
            {% if user.is_authenticated %}
            <div id="user-tools">
                {% block welcome-msg %}
                    Welcome,
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:login' %}">Administration</a> /
                {% endif %}
                    <a href="{% url 'core.views.login_user' %}">Log out</a>
                {% endblock %}
            </div>
            {% endif %}
        </div>
        <!-- END Header -->
                {% block content %}
                {% endblock %}
        </div>
    </body>
    </html>
