{% extends 'core/base.html' %}

    {% block title %} Edit data {% endblock %}
    {% block head %}
        <style>
            table, tr, th, td {
                border:1px solid black;
                border-collapse:collapse;
                }
            table input {border:none !important;height:100% !important;width:100% !important; padding:0px !important;}
            table td{padding:0px !important;}
            table td b{padding:8px !important;}
            div.titleWrap {width:100%;float:left;}
            .titleWrap h2 {float:left;}
            div#instructions{width:50%;min-width:600px;}
            #instructTitle{cursor:pointer;font-size:12px;}
            .save{margin-top:5px;}
            .warning{color:red;font-weight:bold;}
        </style>
        {% load staticfiles %}
            <link rel=stylesheet href="{% static "core/css/info.css" %}" type="text/css">
    {% endblock %}
    {% block content %}
        <div id="content" style="width:100%">
    <h1>Data for {{ organisation }} in {{ year }}</h1>
    {% if messages %}
    <ul class="messagelist">
      {% for message in messages %}
        <li class="warning">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3>Instructions to fill in the form <span onclick="$('#instructions').slideToggle()" id="instructTitle">(show/hide)</span></h3>
    <div id="instructions"
    {% if responses %}
        style="display:none;"
    {% endif %}
    >
    <p>
        {{ campaign.instructions|linebreaks }}
    </p>
    </div>
        <label>Change year:</label>
        <select id="year">

            {% for possible_year in years%}
                {% if possible_year.value == year %}
                <option value="{{ possible_year.value }}" selected="selected">{{ possible_year.value }}</option>
                {% else %}
                <option value="{{ possible_year.value }}">{{ possible_year.value }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="yearBtn">Go</button>
    </p>
    <script>
        $("#yearBtn").click(function(){
            var yearVal = $("#year").val();
            if (yearVal!={{year}}) {
                var url =  "{% url 'core.views.edit' campaign.slug 2016 %}".replace("2016",yearVal);
                window.location.replace(url);
            };
        });
    </script>
    <form method="POST" class="transaction-form">{% csrf_token %}
        <div class="fieldWrapper">
            <label>Currency:</label>
            <select name="currency">
                    <option value >---------</option>
                {% for currency in currencies %}
                    <option value="{{ currency.iso }}">{{ currency.iso }}</option>
                {% endfor %}
            </select>
        </div>
    {% for tableSpec in campaign.tables.all %}
    <div class="titleWrap">
        <h2>{{ tableSpec.title }}</h2>
    </div>
    <table>
        <tr>
            <th></th>
            {% for column in tableSpec.columns.all %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    {% for row in tableSpec.rows.all %}
      {% if not row.organisation %}
        <tr>
            <td><b>{{ row.value }}</b></td>
            {% for column in tableSpec.columns.all %}
              <td><input type="text" name="{{ tableSpec.title }}|{{ row.value }}|{{ column }}"/></td>
            {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
    {% if tableSpec.allow_user_rows %}
      {% for row in tableSpec.rows.all %}
        {% if row.organisation == organisation %}
          <tr>
              <td><b>{{ row.value }}</b></td>
              {% for column in tableSpec.columns.all %}

                    <td><input type="text" name="{{ tableSpec.title }}|{{ row.value }}|{{ column }}"/></td>
              {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}
      {% for row in new_rows %}
          <tr>
              <td><b><input type="text" name="{{ tableSpec.title }}|{{row}}" placeholder="Add row"></input></b></td>
              {% for column in tableSpec.columns.all %}
                <td><input type="text" name="{{ tableSpec.title }}|{{ row }}|{{ column }}"/></td>
              {% endfor %}
          </tr>
      {% endfor %}
    {% endif %}
    </table>
    {% endfor %}

        <button type="submit" class="save btn btn-default">Save</button>
        <button class="export">Export previously saved data</button>
    </form>
    <script>
//    Functions to control Excel-like arrowkeying
    var currentRow = 1;
    var currentCell = 1;
    var trLen = $('tr').length - 1;
    var tdMax = 0
    $('tr').each(function(i,e){
        var tdCount = e.getElementsByTagName('td').length - 1;
        if (tdCount>tdMax) {
            tdMax = tdCount
        };
    });

    function ChangeCurrentCell() {
        if (currentRow<1) {
            currentRow = 1;
        }
        if (currentCell<1) {
            currentCell = 1;
        }
        if (currentRow>trLen) {
            currentRow = trLen;
        }
        if (currentCell>tdMax) {
            currentCell=tdMax
        }
        var tableRow = $('tr')[currentRow];
        var tableCell = tableRow.children[currentCell];
        if (tableCell!==undefined) {
            var cellInput = tableCell.getElementsByTagName("input");
            if (cellInput.length>0) {
                cellInput[0].focus();
                cellInput[0].select();
            };
        };
    };
    function GetCurrentCell() {
        var activeElement = document.activeElement;
        var tableCell = activeElement.parentElement;
        var tableRow = tableCell.parentElement;
        currentCell = Array.prototype.indexOf.call(tableRow.children, tableCell);
        currentRow = Array.prototype.indexOf.call($('tr'), tableRow);
    }
    $('input').on("focus",GetCurrentCell);

    $(document).keydown(function(e){
        if (e.keyCode == 37) {
           currentCell--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 38) {
           currentRow--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 39) {
           currentCell++;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 40) {
           currentRow++;
           ChangeCurrentCell();
           return false;
        }
    });
//    Functions to fill in cells from Django input
    {% for response in responses %}
        $( "input[name='{{ response.coordinates }}']" ).val("{{ response.value }}"=="None"?"":"{{ response.value }}")
    {% endfor %}
    $("[name='currency']").val("{{ currency }}"=="None"?"":"{{ currency.iso }}")
//    Functions to warn if leaving and changes made
    $('input').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('textarea').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $( "button.export" ).change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('select:not(#year)').change(function() {
        window.onbeforeunload = function(e) {
            var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
            e.returnValue = dialogText;
            return dialogText;
        };
    });
    $( "button[type='submit']" ).click(function(){
        window.onbeforeunload = function () {
            // blank function do nothing
        };
    });
    $( "button.export" ).mousedown(function(){
        var url =  "/export";
        window.open(url, '_blank');
    });
    </script>
    </div>
    {% endblock %}
