{% extends "core/base.html" %}
{% block head %}
    {% load staticfiles %}    
    <link rel=stylesheet href="{% static "core/css/login.css" %}" type="text/css">
{% endblock %}
{% block content %}
        <div class="login">
        <div id="container">
        <div id="header">
            <div id="branding">
            <h1 id="site-name"><a href="{% url 'core.views.login_user' %}">
                User login
            </a></h1>
            </div>
        </div>
        <div id="logincontent" class="colM">
            <div id="content-main">
            <form class="form-horizontal" name="LoginForm" action="/accounts/login/" method="post" id="login-form">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="form-row">
                <label class="control-label" for="username">Username:</label>
                <div class="controls">
                    <input type="text" id="id_username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="form-row">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    <input type="password" name="password" id="id_password" placeholder="Password">
                </div>
            </div>
            <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Log in" />
            </div>
            </form>
        </div>
        </div>
        </div>
        </div>
{% endblock %}