<div class="alert alert-{% block variant %}dark{% endblock variant %} alert-with-icon" data-notify="container">
  {% block icon %}
    <i class="text-info material-icons" data-notify="icon">info</i>
  {% endblock icon %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="material-icons">close</i>
  </button>
  <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
  <span data-notify="message">
    {% block message %}{% endblock message %}
  </span>
</div>
