<div class="wizard-container">
  <div class="card card-wizard" data-color="red" id="wizardProfile">
    <form action="" method="">
      <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
      <div class="card-header text-center">
        <h3 class="card-title">
          Update Table
        </h3>
        <h5 class="card-description">Upload the contents of a CSV to a data table</h5>
      </div>
      <div class="wizard-navigation">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#source" data-toggle="tab" role="tab">
              Select Data Source and CSV
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#validate" data-toggle="tab" role="tab">
              Map and Validate
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#upload" data-toggle="tab" role="tab">
              Upload Data Source
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="source">
            {% include 'frontend/designs/includes/partials/wizard_alert_info_step_one.html' %}

            <div class="row">
              <div class="col-sm-4">
                {% include 'frontend/designs/includes/partials/wizard_step_one_select_button.html' %}
              </div>
            </div>

            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div>
                <span class="btn btn-danger btn-file">
                  <span class="fileinput-new">Select XLS/CSV</span>
                  <span class="fileinput-exists">Change File</span>
                  <input type="hidden"><input type="file" name="...">
                </span>
                <a href="#pablo" class="btn btn-dark fileinput-exists" data-dismiss="fileinput">
                  <i class="fa fa-times"></i> Remove File
                </a>
              </div>
            </div>

            {% include 'frontend/designs/includes/partials/wizard_step_one_table.html' %}

          </div>
          <div class="tab-pane" id="validate">
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <h5 class="info-text"> Header Content Goes Here </h5>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="upload">
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <h5 class="info-text"> Upload Content Goes Here </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="mr-auto">
          <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
            value="Previous">
        </div>
        <div class="ml-auto">
          <input type="button" class="btn btn-next btn-fill btn-danger btn-wd" name="next" value="Next">
          <input type="button" class="btn btn-finish btn-fill btn-danger btn-wd" name="finish" value="Finish"
            style="display: none;">
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
