<div class="dropdown bootstrap-select">
  <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" tabindex="-98">
    <option class="bs-title-option" value=""></option>
    <option disabled="" selected="">Select Data Source</option>
    <option value="2">Donor Code Names</option>
    <option value="3">DAC Regions</option>
    <option value="4">Deflators</option>
    <option value="5">Recepient Code Names</option>
    <option value="6">Recepient Country ID</option>
  </select>

  <button type="button" class="dropdown-toggle btn btn-danger btn-round" data-toggle="dropdown" role="button" title="Single Option" aria-expanded="false">
    <div class="filter-option">
      <div class="filter-option-inner">
        <div class="filter-option-inner-inner">Select Data Source</div>
      </div>
    </div>
    <div class="ripple-container"></div>
  </button>

  <div class="dropdown-menu" role="combobox" x-placement="bottom-start"
    style="overflow: hidden; position: absolute; top: 46px; left: 1px; will-change: top, left;">
    <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="overflow-y: auto;">
      <ul class="dropdown-menu inner show">
        {% comment %} Dropdown Header {% endcomment %}
        <li class="disabled selected active">
          <a role="option" class="dropdown-item disabled selected active" aria-disabled="true" tabindex="-1"
            aria-selected="true">
            <span class=" bs-ok-default check-mark"></span>
            <span class="text">Select Data Source</span></a>
        </li>
        {% comment %} Options Start Here {% endcomment %}
        <li>
          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
          <span class=" bs-ok-default check-mark"></span>
          <span class="text">Donor Code Names</span></a>
        </li>
        <li>
          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
          <span class=" bs-ok-default check-mark"></span>
          <span class="text">DAC Regions</span></a>
        </li>
        <li>
          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
          <span class=" bs-ok-default check-mark"></span>
          <span class="text">Deflators</span></a>
        </li>
        <li>
          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
          <span class=" bs-ok-default check-mark"></span>
          <span class="text">Recepient Code Names</span></a>
        </li>
        <li>
          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
          <span class=" bs-ok-default check-mark"></span>
          <span class="text">Recepient Country ID</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
