<div class="alert alert-dark alert-with-icon" data-notify="container">
  <i class="material-icons" data-notify="icon">info</i>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="material-icons">close</i>
  </button>
  <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
  <span data-notify="message">
    <h5>Select Data Source</h5>
    <p>
      Select the data source you wish to update. These are predetermined as not all data sources are open to being updated via this interface.
    </p>
    <h5>Select XLS/CSV</h5>
    <p>Upload a CSV or Excel file from your computer. The file must include the header row</p>
  </span>
</div>
