
<div class="card card-plain mt-0 mb-0" id="wizard-step-three-table">
    <div class="card-body table-full-width">
    <div class="table-responsive overflow-visible">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center"> Matched</th>
            <th> Column Header From File</th>
            <th> Data Source Property</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><i class="text-success material-icons" data-notify="icon">check_circle</i></td>
            <td>Donor Name</td>
            <td>{% include 'frontend/designs/includes/partials/wizard/step_three_select.html' %}</td>
          </tr>
          <tr>
            <td class="text-center"><i class="text-danger material-icons" data-notify="icon">clear</i></td>
            <td>Code Name</td>
            <td>{% include 'frontend/designs/includes/partials/wizard/step_three_select.html' %}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>
