
<div class="card card-plain mt-0 mb-0 d-none" id="wizard-step-one-table">
    {% include 'frontend/designs/includes/partials/wizard/step_one_alert_warning.html' %}
    <div class="card-header card-header-rose card-header-icon">
      <h4 class="card-title">Preview</h4>
    </div>
    <div class="card-body">
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th><i class="text-warning material-icons" data-notify="icon">warning</i> Donor Name <span class="text-muted">(text)</span></th>
            <th><i class="text-success material-icons" data-notify="icon">done</i> Code Name <span class="text-muted">(number)</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>Big Shot</td>
            <td>$$$</td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td>Big Shot</td>
            <td>$$$</td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td>Big Shot</td>
            <td>$$$</td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td class="table-warning">322</td>
            <td>$$$</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% include 'frontend/designs/includes/partials/pagination.html' %}
    </div>
</div>
