{% extends 'frontend/index.html' %}
{% load static %}


{% block content %}
  <div class="wrapper ">
    {% include 'frontend/designs/includes/sidebar.html' with active='dataset-ui' %}

    <div class="main-panel">
      <!-- Navbar -->
      {% with title='Advanced Query Builder'  %}
        {% include 'frontend/designs/includes/navbar.html' %}
      {% endwith %}
      <!-- End Navbar -->
      <div class="content pt-0">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <label>Data Source(s)</label>
              <div class="row">
                <select class="selectpicker col-md-8" data-size="12" data-style="select-with-transition" multiple title="Select Data Sources">
                  <option disabled>Select one or more data sources</option>
                  <option value="fts">Financial Tracking System (FTS)</option>
                  <option value="dac">OECD DAC1</option>
                  <option value="crs">OECD Creditor Reporting System (CRS)</option>
                </select>
              </div>
            </div>
            <div class="card-footer d-block">

            </div>
          </div>
        </div>
      </div>
      {% comment %} Footer Goes Here {% endcomment %}
    </div>
  </div>
{% endblock content %}

{% block footer-assets %}
  {{ block.super }}
  <script src={% static '/frontend/assets/js/plugins/bootstrap-selectpicker.js' %}></script>
{% endblock footer-assets %}
