{% extends 'frontend/index.html' %}
{% load static %}


{% block content %}
  <div class="wrapper ">
    {% include 'frontend/designs/includes/sidebar.html' with active='scheduled-events' %}

    <div class="main-panel">
      <!-- Navbar -->
      {% with title='Scheduled Events'  %}
        {% include 'frontend/designs/includes/navbar.html' %}
      {% endwith %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            {% include 'frontend/designs/includes/partials/scheduled_events_table.html' %}
            {% include 'frontend/designs/includes/partials/scheduled_events_run_instances_table.html' %}
          </div>
        </div>
      </div>
      {% comment %} Footer Goes Here {% endcomment %}
    </div>
  </div>
{% endblock content %}
